<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        h1{
            margin-right: 500px;
            font-family: 'Festive', cursive;
            font-family: 'Merriweather', serif;
            font-size: 30px;
            color: #050A30;
        }
        a{
            font-family: 'Festive', cursive;
            font-family: 'Merriweather', serif;
            color: #050A30;
            font-size: 15px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Merriweather&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>CALENDAR</title>
</head>
<body style="background-image: url('https://i.pinimg.com/736x/e3/b4/a4/e3b4a4a7864b4530b9db5ea404d9d560.jpg'); background-size: 100%;">
<table>
    <tr>
        <th><a href="hi.html"><h1>ENGINEERING <br> MATRIX<h1></a></th>
        <th><h3 style="margin-right: 100px;"><a href="hello.html">HOME</a></h3></th>
        <th><h3 style="margin-right: 100px;"><a href="how.html">FORMULAS <br> & EQUATIONS</a></h3></th>
        <th><h3><a href="are.html">ACADEMIC <br> CALENDAR</a></h3></th>
    </tr>
</table style=" margin-left: 500px;">
<h4 style=" margin-left: 300px;">
    <a href="https://ibb.co/SwJfLQD"><img src="https://i.ibb.co/GQFHhsf/Mission-1-1.jpg" alt="Mission-1-1" border="0"></a>
    <a href="https://ibb.co/6r4RzLZ"><img src="https://i.ibb.co/bQrgTD3/FIRST-SEMESTER.png" alt="FIRST-SEMESTER" border="0"></a><br>
    <a href="https://ibb.co/2k6n3jC"><img src="https://i.ibb.co/hmM7FK4/FIRST-SEMESTER-1.png" alt="FIRST-SEMESTER-1" border="0"></a><br>
    <a href="https://ibb.co/0tQ40Z8"><img src="https://i.ibb.co/BNwWhjd/FIRST-SEMESTER-2.png" alt="FIRST-SEMESTER-2" border="0"></a><br>
</h4>
</body>
</html>