<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        h1{
            margin-right: 500px;
            font-family: 'Festive', cursive;
            font-family: 'Merriweather', serif;
            font-size: 30px;
            color: #050A30;
        }
        a{
            font-family: 'Festive', cursive;
            font-family: 'Merriweather', serif;
            color: #050A30;
            font-size: 15px;
        }
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Festive&family=Merriweather&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>FORMULAS</title>
</head>
<body style="background-image: url('https://previews.123rf.com/images/pdreams/pdreams1210/pdreams121000004/15953097-mathematic-school-design-background-illustration.jpg'); background-size: 100%;">
<table>
    <tr>
        <th><a href="hi.html"><h1>ENGINEERING <br> MATRIX</h1></a></th>
        <th><h3 style="margin-right: 100px;"><a href="hello.html">HOME</a></h3></th>
        <th><h3 style="margin-right: 100px;"><a href="how.html">FORMULAS <br> & EQUATIONS</a></h3></th>
        <th><h3><a href="are.html">ACADEMIC <br> CALENDAR</a></h3></th>
    </tr>
</table style="margin-left: 500px;">
<h4 style="margin-left: 300px;">
    <a href="https://ibb.co/TWWj5xF"><img src="https://i.ibb.co/bbbwnM8/Blue-Modern-Math-Classroom-Poster.png" alt="Blue-Modern-Math-Classroom-Poster" border="0"</a><br />
    <a href="https://ibb.co/pQyKcYC"><img src="https://i.ibb.co/m08ykfQ/AC-1-Infographic-1.png" alt="AC-1-Infographic-1"</a>
    <a href="https://ibb.coco/TM2h2w2/Algebra.png" alt="Algebra" border="0"></a>
    <a href="https://ibb.co/wggTYrW"><img src="https://i.ibb.co/h99kC1W/Minimalistic-Comparison-Table-Logo-VS-Brand-Instagram-Post.png" alt="Minimalistic-Comparison-Table-Logo-VS-Brand-Instagram-Post" border="0"></a>
    <a href="https://ibb.co/VY9B9L9"><img src="https://i.ibb.co/TM2h2w2/Algebra.png" alt="Algebra" border="0"></a>
</h4>
</body>
</html>